<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
</head>
<body>
    <%if (kindofDay === "Thursday"){ %>
        <h1 style="color: orange"><%= kindofDay %> TODO List!</h1>
    <%} else{ %>
        <h1 style="color: purple"><%= kindofDay %> TODO List!</h1>

    <%}%>
    
</body>
</html>